@import (inline) "../node_modules/codemirror/lib/codemirror.css";

@color1:#2c2c2c;
@color2:#f3f5f6;
@color3: #7f94a1;
@color4: #43a3f5;

.app-container {
  width: 100%;
  height: 100%;
}

.right-col {
  height: 100%;
}

.left-col {
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.container-fluid {
  padding : 0px;
}

.no-margin {
  margin: 0px;
}

.no-padding {
  padding: 0px;
}

//SplitPanes

.Resizer {
    background: #000;
    opacity: .2;
    z-index: 15;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

 .Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

 .Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}

Resizer.disabled {
  cursor: not-allowed;
}

Resizer.disabled:hover {
  border-color: transparent;
}


//CodeMirror

.CodeMirror {
    height: auto;
    width: auto;
}

//CodeArea
//
.code-area-header {
  padding: 5px;
  margin-left: 36px;
  color: @color3;
  text-transform: uppercase;
  background-color: @color2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.toolbox {
  width: auto;
  height: auto;
  float: right;
  font-size: 15px;
}

.toolbox span{
  margin-left: 10px;
  margin-right: 5px;
  padding: 2px;
}

.toolbox span:hover{
  color: @color4;
}

.code-container{
  height: 100%;
  width: 100%;
  font-family: 'Inconsolata','Monaco',"Andale Mono","Lucida Console","Bitstream Vera Sans Mono","Courier New",'Courier','monospace';
  background-color: @color2;
  font-size: 13px;
}

.CodeMirror-scroll {
    background-color: @color2;
}

.CodeMirror-gutter {
    background-color: @color2;
}

.CodeMirror-linenumber {
  font-size: 11px;
  opacity: 0.7;
  padding-right: 10px;
}
//Graph
.graph-container{
  height: 100%;
  width: 100%;
  font-family: 'Inconsolata','Monaco',"Andale Mono","Lucida Console","Bitstream Vera Sans Mono","Courier New",'Courier','monospace';
  background-color: @color2;
}

.graph-area-header {
  padding: 5px;
  color: @color3;
  text-transform: uppercase;
  background-color: @color2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 13px;
}


//Panel
.panel {
  padding: 10px;
  background-color: @color1;
  height: 100%;
}
